<%= form_for(@standard_avatar) do |f| %>
  <% if @standard_avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard_avatar.errors.count, "error") %> prohibited this standard_avatar from being saved:</h2>

      <ul>
      <% @standard_avatar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :uploaded_file, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <div class="field">
    <%= f.label :rights %><br>
    <%= f.text_area :rights %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
