- content_for :title, "Terrepets > Flea Market"
%h3
  Commerce
  \>
  = link_to 'Flea Market', flea_market_path
  \>
  Results

%ul.tabbed
  %li= link_to 'Trading Post', trading_post_path
  %li= link_to 'Flea Market', flea_market_path
  %li= link_to 'Stores', stores_path
  %li= link_to 'Store Logs', store_logs_path

- if @stores.empty?
  %h4 No results.

- @stores.each do |item_template_name, user_store_data|
  
  %h4= item_template_name
  %table
    %thead
      %tr
        %th Store
        %th Price
    %tbody
      - user_store_data.each do |user_id, store_data|
        %tr
          %td
            = link_to store_data[:user].display_name, stores_path(store_data[:user])
          %td
            = store_data[:lowest_price]

= link_to 'Back', flea_market_path