#smallcontentbox
  #subtitle Sign in
  #devise
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .field
        = f.label :username
        = f.text_field :username, :autofocus => true
      .field
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      %div{style: 'float: center;'}
        = f.submit "Sign in"
    = render "devise/shared/links"