<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_template_id %><br>
    <%= f.number_field :item_template_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.number_field :location %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :origin_note %><br>
    <%= f.text_field :origin_note, style: 'width: 300px;' %>
  </div>
  <div class="field">
    <%= f.label :user_note %><br>
    <%= f.text_field :user_note, style: 'width: 300px;' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
