<%= form_for(@makeable) do |f| %>
  <% if @makeable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@makeable.errors.count, "error") %> prohibited this makeable from being saved:</h2>

      <ul>
      <% @makeable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :item_template_id %><br>
    <%= f.number_field :item_template_id %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
